/* @import url('//use.fontawesome.com/releases/v5.15.3/css/all.css'); */

.app {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);

  /* background-color: #e6e6e6; */
}

h1,
div {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  /* margin-bottom: 10px; */
  font-size: 24px;
}

.header {
  /* margin-bottom: 10px; */
  justify-content: center;
  margin: 5px 10px 5px 0px;
}

.header > div {
  margin: auto;
}

.flex-container {
  display: flex;
}

.row-container {
  position: relative;
  left: 17%;
  right: 17%;
  /* padding-left: 17%;
  padding-right: 17%; */
  /* padding-left: 10%;
  padding-right: 10%; */
}

.game-cell {
  background-color: white;
  margin: 2px;
  /* margin: auto; */
  padding: 20px;
  border: 2px solid rgb(189, 186, 186);
  width: 16px;
  height: 16px;
  font-weight: 700;
  font-size: 24px;
  /* align-items: center; */
}

.keyboard-container {
  /* position: fixed; */
  position: relative;
  padding: 10px;
}

.key-cell {
  background-color: rgb(196, 193, 193);
  border-radius: 5px;
  margin: 2px;
  padding: 10px 15px;
  border: none;
}

.gray-cell {
  background-color: gray;
  color: white;
}

.yellow-cell {
  background-color: hsl(60deg 69% 55%);
  color: white;
}

.green-cell {
  background-color: limegreen;
  color: white;
}

.shaded-cell {
  background-color: rgb(37, 37, 37);
  color: white;
}

.tooltip {
  min-height: 30px;
  width: 50%;
  padding: 20px;
  background-color: #f7f7a7;
  border-radius: 8px;
  position: absolute;
  z-index: 5;
  animation: fromleft 0.5s linear;
}

.win-tooltip {
  background-color: #81d393;
}

.lose-tooltip {
  background-color: #eccce3;
}

@keyframes fromleft {
  0% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0%);
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.stats-container {
  align-items: stretch;
  justify-content: space-between;
  padding: 20px 0;
  font-size: smaller;
}

#stat-heading {
  text-align: left;
  margin: 5px;
}

.distribution-container {
  margin: 10px;
  font-size: x-small;
  font-weight: 800;
}

.progress-label {
  padding: 10px;
}

.progress-bar {
  background-color: green;
  padding: 10px;
  color: white;
  margin: 2px;
  min-width: 5px;
}

.dark-mode--black {
  background-color: black;
  color: white;
}

.dark-mode--inverse {
  color: black;
}

.dark-mode--white {
  /* background-color: black; */
  background: white;
  color: black;
}

.fa-icons--common {
  margin: 20px;
}

.label-heading,
.label-value {
  color: black;
}

#game-length--input {
  margin: 1vw;
}

.key-cell {
  user-select: none;
}

.key-cell:hover {
  box-shadow: 2px 2px rgba(223, 219, 219, 0.753);
}

.key-cell:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.hint-highlight {
  background-color: orange;
}

#hint-container > * {
  margin: 0;
  padding: 5px 10px;
}
